<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title BurgersMenu
    link(rel="stylesheet", href="/style.css")
  body
    div.page
      h1='Burgers Menu:'
      .list
        each burger in burgers
          .item
            h2
              a(href='/burgers/' + burger.id)=burger.name
            a.img(href='/burgers/' + burger.id, style='background-image: url(' + burger.img + ')')=burger.name
            p=burger.price + ' ' + burger.currency
            a(href='/burgers/' + burger.id)='Learn more...'
